.heroBtn {
  margin: 50px auto 0;
  background: none;
  border-top: 2px solid rgb(0, 50, 100);
  border-right: none !important;
  border-bottom: 2px solid rgb(0, 50, 100);
  border-left: none !important;
  padding: 10px 25px;
  font-size: 1.5rem;
  color: rgb(0, 50, 100);
  transition-duration: 0.5s;

  &--text {
    font-weight: 600;
    font-family: PlayfairDisplay;
  }

  &:hover {
    border-top: 2px solid rgb(0, 60, 120);
    border-bottom: 2px solid rgb(0, 60, 120);
    color: rgb(0, 60, 120);
    letter-spacing: 3px;
    transition-duration: 0.5s;
  }

  &:focus {
    outline: none;
  }
}
