<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" >
        <div class="carousel-item active">
            <img 
                [src]="offerIMGObj.images[0].image_path" 
                class="carousel-item--img" 
                (click)="getIMGFullScreen(offerIMGObj.images[0].image_path)"
                width="100%"
                height="auto"
            />
        </div>
        <div class="carousel-item" *ngFor='let in of counter(lengthOfImages-1); let i = index'>
            <img 
                [src]="offerIMGObj.images[i+1].image_path" 
                class="carousel-item--img" 
                (click)="getIMGFullScreen(offerIMGObj.images[i+1].image_path)"
                width="100%"
                height="auto"
            />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>