<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-11 col-11 offer">
            <div class="row">
                <div class="col-md-4 col-12 offer__imgBox">
                    <img src='./../../../../assets/images/navbar/houses.jpg' class="offer__imgBox__img" />
                </div>
                <div class="col-md-8 col-12 offer__details">
                    <div class="row">
                        <div class="col-12">
                            <p class="offer__details--name">
                                Nazwa oferty
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="offer__details--type">
                                Dom na sprzedaż
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="offer__details--location">
                                Lokalizacja: Kurwidołki większe 15B
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="offer__details--area">
                                Powierzchnia: 120 m<sup>2</sup>
                                <span> (7 000 zł/m<sup>2</sup>)</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="offer__details--rooms">
                                Ilość pokoi: 6
                            </p>
                        </div>
                    </div>
                    <div class="row offer__details--margin">
                        <div class="col-12">
                            <p class="offer__details--price">
                                1 200 000 zł
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>