<div class="container-fluid aboutUs">
  <app-tittle [name]="aboutUsText"></app-tittle>
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-10 col-md-11 col-12">
      <p class="aboutUs__text">
        Nasza firma została założona w 1999 roku po wieloletnim doświadczeniu nabytym w Niemczech.
        Firma zaczynała swoją działalność od wykonywania konstrukcji drewnianych (więźba dachowa)
        oraz pokrycia dachów dachówką ceramiczną. Wraz z rozwojem zaczęliśmy wykonywać pokrycia dachowe,
        obudowy hal z płyt warstwowych. W roku 2012 firma zaczęła inwestować w nieruchomości. Powstał w
        Nagawczynie budynek handlowy o powierzchni 2000m<sup>2</sup>, w 2016 powstał budynek handlowy 
        w Dębicy 3000m<sup>2</sup> gdzie
        na dzień dzisiejszy znajduje się siedziba firmy. W 2017 roku firma zakupiła grunt pod budowę
        <a class="aboutUs__text--special" href="http://skowronkow.com/">osiedla Skowronków</a>, którego część została już zrealizowana. 
        W 2020 firma zakupiła grunt pod budowę 
        <a class="aboutUs__text--special" href="https://apartamentywesola.com/">apartamentów Wesoła</a>. 
        Następnym krokiem było powstanie w 2021 Grupy BORYS Deweloper sp. z o.o. w celu kontynuowania działalności. Na
        dzień dzisiejszy firma posiada dużo zamówień, zleceń i nadal poszerza swoją działalność o dodatkowe aspekty.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-11 aboutUs__imgBox">
      <a href="http://skowronkow.com/">
        <img [src]="skowronkowIMG" width="100%" height="auto" />
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-8 aboutUs__imgBox">
      <a href="https://apartamentywesola.com/">
        <img [src]="wesolaIMG" width="100%" height="auto" />
      </a>
    </div>
  </div>
</div>
