.aboutUs {
    margin-top: 70px;

    &__text {
        padding: 5px 10px 0;
        text-indent: 10px;
        font-size: 1rem;

        &--special {
            font-weight: 500;
            color: rgb(0, 80, 170);
        }
    }

    &__imgBox {
        margin: auto 10px;
        text-align: center;
    }
}