<div class="container-fluid vertical-center">
    <div class="row justify-content-center">
        <div class="col-12 pnf">
            <p class="pnf__error">404</p>
            <p class="pnf__text">
                <img [src]='treePath' class="pnf__icon"/>
                No i jesteśmy w lesie! Wygląda na to, że wskazana strona nie istnieje.
                <img [src]='treePath' class="pnf__icon"/>
            </p>
            <app-hero-button [name]='btnText' routerLink=""></app-hero-button>
        </div>
    </div>
</div>