@font-face {
  font-family: "PlayfairDisplay";
  font-display: swap;
  src: local("PlayfairDisplay"), url(../fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
