<div class="container-fluid" id="Info">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-11 col-11 announcment">
            <app-tittle [name]='announcmentTittle'></app-tittle>
            <p class="announcment__text">
                Aktualnie poszukujemy nieruchomość gruntową pod budowę osiedla (30-100a) 
                w Dębicy, Ropczycach i Tarnowie. Ponadto jesteśmy zainteresowani zakupem
                mieszkania z wielkiej płyty w Rzeszowie 30-60m<sup>2</sup>.
                Zadzwoń 
                <a href="tel:+48 606 691 578" class="announcment__text--special">606-691-578</a> lub napisz:
                <a href="mailto:grupaborysdeweloper@wp.pl" class="announcment__text--special">grupaborysdeweloper@wp.pl</a>.
            </p>
        </div>
    </div>
</div>