.container-fluid {
  margin-top: 70px;
}

.announcment {
  &__text {
    padding: 5px 10px 0;
    text-indent: 10px;
    font-size: 1rem;

    &--special {
      font-weight: 500;
      color: rgb(0, 70, 150);
      text-decoration: none;
      transition-duration: 0.3s;

      &:hover {
        cursor: pointer;
        color: rgb(41, 176, 255);
        transition-duration: 0.3s;
      }
    }
  }
}
